* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    display: grid;
    grid-template: .2fr 2fr / 2fr .5fr;
    grid-template-areas:
        "header header"
        "main stats";
    height: 100vh;
}
header {
    padding: 0 50px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
}
h1 {
    font-size: 5rem;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.login-links {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.login, .add {
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: white;
}
main {
    grid-area: main;
    background:rgb(157, 155, 155);
    display: grid;
    grid-template: 0.1fr 1fr / 1fr;
    grid-template-areas: 
    "dashboard"
    "books";
}
.dashboard {
    grid-area: dashboard;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    gap: 5rem;
}
.books {
    grid-area: books;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 0 50px;
}
.book {
    border: 2px solid white;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(62, 18, 29);
    height: 300px;
    width: 300px;
}
.quote {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.quote > p {
    font-size: 2rem;
    font-style: italic;
}
.author-quote {
   align-self: flex-end;
   font-size: 1.5rem;
}
.add{
    display: flex; 
    justify-content: center;
    width: 100px; 
    font-size: 2rem;
    font-weight: bold;
    border-radius: 0.7rem;
    font-size: 1.4rem;
}
#submit {
    align-self: center; 
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    background-color: rgb(88, 88, 88);
    width: 150px;
    height: 45px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
}
#submit:hover, .add:hover, .login:hover {
    background-color: rgb(200, 14, 64);
    border: 2px solid rgb(200, 14, 64);
    cursor: pointer;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px rgb(62, 18, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 70%;
    padding: 50px 50px;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    min-width: 350px;
}
.modal label {
    font-size: 1.8rem;
}
.modal textarea {
    font-family: 'Open Sans', sans-serif;
    max-height: 100px;
    max-width: 250px;
}
.modal input, .modal textarea {
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(110, 49, 65);
    outline: none;
}
input:focus, textarea:focus, input:hover, textarea:hover {
    border-bottom: 2px solid rgb(219, 21, 74)
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5rem;
    padding: 0;
}
li {
    display: flex;
    flex-direction: column;

}
.add:hover{
    cursor: pointer;
}
.stats {
    grid-area: stats;
    background: rgb(52, 49, 49);;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.stats-style-containter {
    height: 50%;
    width: 90%;
    padding: 10px 20px;
    color: white;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
}
.stats-style-containter h2 {
    font-size: 3rem;
    text-align: center;
}
.stat-item-container {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}
.stat-item {
    font-size: 2rem;
}
